.input-comment {
  height: 80px;
}

::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #cfcfcf;
  padding-left: 14px;
  vertical-align: 30px;
  padding-top: 13px;
  padding-right: 5px;
}
::-moz-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #cfcfcf;
  padding-top: 13px;
} /* Firefox 19+ */
:-moz-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #cfcfcf;
  padding-top: 13px;
} /* Firefox 18- */
:-ms-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #cfcfcf;
  padding-top: 13px;
  padding-right: 20px;
}